@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;500;600;700&display=swap');

:root {
    --global-space: 20px;
    --app-width: 1138px;
    --app-padding: calc(var(--global-space) * 1);
    --nav-height: 104px;
    --z-modal: 100;
    --z-Nav: 200
}

@media(max-width:580px) {
    :root {
        --nav-height: 77px
    }
}

html {
    box-sizing: border-box
}

body {
    overflow-wrap: break-word;
    word-break: break-word
}

body,
button,
input,
select,
textarea {
    color: #525252;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
    text-size-adjust: none;
    touch-action: manipulation
}

textarea {
    resize: vertical
}

*,
:after,
:before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    overflow-anchor: none;
    line-height: 1.9
}

a,
button {
    color: currentcolor;
    text-decoration: none;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

a[href]:hover,
button[href]:hover {
    text-decoration: underline;
    cursor: pointer
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400
}

[class*="--disabled"],
[disabled] {
    opacity: .4;
    text-decoration: none !important;
    cursor: default;
    pointer-events: none
}

figure,
iframe,
img,
picture {
    display: block;
    max-width: 100%;
    border: none
}

ol,
ul {
    list-style-type: none
}

table {
    border-spacing: 0
}

svg {
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover
}

svg,
video {
    display: block;
    width: 100%
}

source {
    display: contents
}

.container {
    width: 100%;
    max-width: calc(var(--app-padding)*2 + var(--app-width));
    margin: 0 auto;
    padding: 0 var(--app-padding)
}

.Layout {
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    min-height: 100vh
}

.Layout--menu-active {
    padding-top: var(--nav-height)
}

.Main {
    overflow: hidden;
}

.Hero__wrapper:before,
h1.Contact__hero__h1::before,
.Svc__hero__h1:before {
    content: "";
    pointer-events: none;
    background: radial-gradient(at 70%, rgba(143, 255, 69, .12) 0%, rgba(0, 0, 0, 0) 60%);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.second_title__h2 {
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
    color: #1a1a1a;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: .75px;
    text-transform: uppercase;
    grid-gap: calc(var(--global-space)*.5);
    gap: calc(var(--global-space)*.5)
}

.second_title__h2:before {
    content: "";
    display: block;
    width: 36px;
    height: 1px;
    background-color: #1a1a1a
}

.second_title__text {
    color: #444;
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.6;
}

/* Nav */
.Nav {
    --app-width: 1206px;
    padding: calc(var(--global-space)*2) 0
}

@media(max-width:1320px) {
    .Nav {
        padding: calc(var(--global-space)*0.9) 0;
        border-bottom: 1px solid #ededed;
    }
}

.Nav--menu-active {
    position: fixed;
    z-index: var(--z-Nav);
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff
}

.Nav__wrapper {
    display: grid;
    grid-template-columns: max-content 1fr max-content;

    align-items: center
}

@media(max-width:900px) {
    .Nav__wrapper {
        grid-template-columns: 1fr max-content max-content;
        gap: calc(var(--global-space)*1)
    }
}

.Nav__a__span {
    display: none
}

@media(max-width:580px) {
    .Nav__a__img {
        height: auto
    }
}

.Nav__links {
    display: flex;
    gap: calc(var(--global-space)*2.25);
    justify-content: flex-end;
    transform: translateY(calc(var(--global-space) * .4))
}

@media(max-width:900px) {
    .Nav__links {
        display: none
    }
}

.Nav__links__a {
    color: #1a1a1a;
    font-size: 14px;
    font-style: italic;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase
}

.Nav__links__a--active {
    position: relative
}

.Nav__links__a--active:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #1a1a1a
}

.Nav__lang {
    transform: translateY(calc(var(--global-space) * .4));
    color: #1a1a1a;
    font-size: 14px;
    font-style: italic;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase
}

.Nav__drawer-toggle {
    cursor: pointer;
    z-index: calc(var(--z-Nav) + 1);
    background: none;
    border: none;
    flex-direction: column;
    gap: 4px;
    margin-left: 0px;
    padding: 0px;
    margin-top: 7px;
    display: flex;
}

.Nav__drawer-toggle__bar {
    width: 25px;
    height: 2px;
    background-color: #1a1a1a;
    transition: all 0.3s ease;
}

.Nav__drawer-toggle__bar--white {
    background-color: #fff;
}

.Nav--drawer-active .Nav__drawer-toggle__bar:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
}

.Nav--drawer-active .Nav__drawer-toggle__bar:nth-child(2) {
    opacity: 0;
}

.Nav--drawer-active .Nav__drawer-toggle__bar:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg);
}

/* Drawer */
.Nav__drawer {
    position: fixed;
    top: 0;
    right: -320px;
    width: 320px;
    height: 100vh;
    background-color: #fff;
    z-index: calc(var(--z-Nav) + 2);
    transition: right 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 10px 0 30px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.Nav__drawer--active {
    right: 0;
}

.Nav__drawer__header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 40px;
}

.Nav__drawer__close {
    background: none;
    border: none;
    font-size: 32px;
    cursor: pointer;
    color: #1a1a1a;
}

.Nav__drawer__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.Nav__drawer__link {
    font-size: 24px;
    font-weight: 700;
    color: #1a1a1a;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: color 0.3s ease, transform 0.3s ease;
}

.Nav__drawer__link:hover {
    color: #8FFF45;
    transform: translateX(10px);
    text-decoration: none !important;
}

.Nav__drawer__link--active {
    color: #8FFF45;
}

.Nav__drawer-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    z-index: calc(var(--z-Nav) + 1);
    animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media(max-width:580px) {
    .Nav__lang {
        transform: translateY(calc(var(--global-space) * .2))
    }
}

.Nav__menu {
    display: none
}

@media(max-width:900px) {
    .Nav__menu {
        display: block
    }
}

.Nav__menu__a {
    display: block;
    transform: translateY(calc(var(--global-space) * .4))
}

@media(max-width:580px) {
    .Nav__menu__a {
        transform: translateY(calc(var(--global-space) * .2))
    }
}

.Nav__menu__panel {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100% - var(--nav-height));
    padding: calc(var(--global-space)*1);
    transition: opacity .2s ease-in-out;
    opacity: 0;
    background-color: #fff;
    pointer-events: none;
    will-change: opacity
}

.Nav__menu__panel--active {
    opacity: 1;
    pointer-events: auto
}

.Nav__menu__panel__grid {
    display: grid;
    position: relative;
    grid-template-columns: repeat(2, 1fr)
}

.Nav__menu__panel__grid__a {
    padding: calc(var(--global-space)*2) calc(var(--global-space)*1);
    color: #1a1a1a;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase
}

.Nav__menu__panel__grid__a:nth-of-type(n+3) {
    border-top: 1px solid #1a1a1a
}

.Nav__menu__panel__grid__a:nth-of-type(2n) {
    border-left: 1px solid #1a1a1a
}

.special-design-simble_1 {
    background-color: #fff;
    width: 5%;
    height: 5%;
    display: block;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.special-design-simble_2 {
    background-color: #fff;
    width: 5%;
    height: 4%;
    display: block;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.special-design-simble_3 {
    background-color: #fff;
    width: 5%;
    height: 4%;
    display: block;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.Nav__menu__panel__grid:after {
    content: "";
    display: block;
    position: absolute;
    top: 60%;
    left: 50%;
    width: 5%;
    height: 5%;
    transform: translateY(-50%) translateX(-50%);
    background-color: #fff
}


.Button {
    display: block;
    padding: calc(var(--global-space)*.75) calc(var(--global-space)*3);
    border: none;
    border-radius: 10px;
    box-shadow: none;
    background-color: #1a1a1a;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: .75px;
    text-align: center;
    text-transform: uppercase;
    appearance: none
}

.Hero__h1 {
    color: #1a1a1a;
    font-size: 120px;
    font-weight: 700
}

.Hero__h1,
.Hero__h1 * {
    line-height: 1.1
}

@media(max-width:750px) {
    .Hero__h1 {
        font-size: 40px;
        letter-spacing: 2.667px;
        margin-top: 22px;
    }
}

@media(max-width:400px) {

    .Hero__h1--about,
    .Hero__h1--careers,
    .Hero__h1--products {
        font-size: 40px
    }
}

.Hero__wrapper {
    justify-content: center;
    height: 720px;
    max-height: 80vh
}

.Hero__p,
.Hero__wrapper {
    display: grid;
    align-items: center
}

.Hero__p {
    grid-template-columns: max-content max-content;
    justify-content: end;
    margin-top: calc(var(--global-space)*1);
    color: #1a1a1a;
    font-size: 16px;
    font-style: italic;
    font-weight: 500;
    letter-spacing: 11.5556px;
    gap: calc(var(--global-space)*1.5)
}

@media(max-width:750px) {
    .Hero__p {
        justify-content: start;
        font-size: 12px;
        font-weight: 300;
        letter-spacing: 6px
    }

    .Hero__wrapper {
        justify-content: start;
        height: 300px;
        max-height: 80vh
    }
}

.Hero__p:before {
    content: "";
    display: block;
    width: 120px;
    height: 1px;
    background-color: #1a1a1a
}

/* Index (Home) */
.Index {
    margin-bottom: 0px;
    background-image: url(/images/Index__hero.svg);
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: 100%
}

@media(max-width:1320px) {
    .Index {
        background-position: center 10vh
    }
}

@media(max-width:900px) {
    .Index {
        margin-bottom: 120px
    }
}

.Index__hero__wrapper {
    display: grid;
    align-content: center;
    height: 700px;
    max-height: 80vh
}

.Index__hero__h1 {
    display: grid;
    justify-content: center;
    color: #1a1a1a;
    font-size: 96px;
    font-weight: 600
}

.Index__hero__h1,
.Index__hero__h1 * {
    line-height: 1
}

@media(max-width:1050px) {
    .Index__hero__h1 {
        font-size: 90px
    }
}

@media(max-width:900px) {
    .Index__hero__h1 {
        font-size: 75px
    }
}

@media(max-width:750px) {
    .Index__hero__h1 {
        font-size: 57px
    }

    .Hero__p:before {

        width: 50px;

    }
}

.Index__hero__h1 {
    font-size: 112px;
    text-align: left
}

@media(max-width:750px) {
    .Index__hero__h1 {
        font-size: 90px
    }
}

@media(max-width:580px) {
    .Index__hero__h1 {
        font-size: 47px
    }
}

@media(max-width:400px) {
    .Index__hero__h1 {
        font-size: 43px
    }
}



.Index__hero__p {
    margin-top: calc(var(--global-space)*1);
    color: #1a1a1a;
    font-size: 16px;
    font-style: italic;
    font-weight: 500;
    letter-spacing: 11.5556px;
    text-align: center
}

@media(max-width:580px) {
    .Index__hero__p {
        font-size: 12px;
        letter-spacing: 6.2667px
    }
}

@media(max-width:400px) {
    .Index__hero__p {
        font-size: 9px
    }
}

.Index__h3 {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    color: #1a1a1a;
    font-size: 12px;
    font-style: italic;
    font-weight: 500;
    letter-spacing: .75px;
    text-transform: uppercase;
    gap: calc(var(--global-space)*.5)
}

.Index__h3:before {
    content: "";
    display: block;
    width: 36px;
    height: 1px;
    background-color: #1a1a1a
}

.Index__mission__wrapper {
    display: grid;
    grid-template-columns: 1fr max-content;
    gap: calc(var(--global-space)*3);
    align-items: center
}

@media(max-width:1050px) {
    .Index__mission__wrapper {
        grid-template-columns: 1fr 1fr
    }
}

@media(max-width:900px) {
    .Index__mission__wrapper {
        grid-template-columns: 1fr
    }


}

.Index__mission__p {
    margin-top: calc(var(--global-space)*1);
    color: #1a1a1a;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    white-space: pre-wrap;
}

.Index__mission__img {
    width: 50vh;


}

@media(max-width:900px) {
    .Index__mission__img {
        grid-row: 1/2;
        justify-self: center;


    }


}

@media(max-width:580px) {
    .Index__mission__img {
        /* padding: 0 calc(var(--global-space)*1) */
    }
}

.Index__products {
    margin-top: 160px
}

@media(max-width:580px) {
    .Index__products {
        margin-top: 80px
    }


}

.Index__products__header {
    display: grid;
    grid-template-columns: 1fr max-content;
    gap: calc(var(--global-space)*1);
    align-items: center;
    padding-bottom: 20px;
}

@media(max-width:580px) {
    .Index__products__header {
        grid-template-columns: 1fr;
        gap: 0
    }
}

.Index__products__header__h2 {
    color: #1a1a1a;
    font-size: 75px;
    font-weight: 700
}

@media(max-width:580px) {
    .Index__products__header__h2 {
        font-size: 48px;
        text-align: left
    }
}

.Index__products__header__link {
    display: grid;
    grid-template-columns: max-content max-content max-content;
    gap: calc(var(--global-space)*.5);
    align-items: center;
    transform: translateY(calc(var(--global-space) * .4))
}

@media(max-width:580px) {
    .Index__products__header__link {
        justify-content: end
    }
}

.Index__products__header__link:before {
    content: "";
    display: block;
    width: 65px;
    height: 1px;
    background-color: #1a1a1a
}

.Index__products__header__link__a {
    color: #1a1a1a;
    font-size: 12px;
    font-style: italic;
    font-weight: 500;
    letter-spacing: .75px;
    text-decoration-line: underline;
    text-transform: uppercase
}

.Index__products__header__link:after {
    content: "";
    display: block;
    width: 37px;
    height: 9px;
    background-image: url(/images/Index__products__header__link.svg)
}

.Index__products__dl {
    display: grid;
    margin-top: calc(var(--global-space)*2);
    padding: 0 calc(var(--global-space)*2);
    gap: calc(var(--global-space)*5)
}

@media(max-width:900px) {
    .Index__products__dl {
        gap: calc(var(--global-space)*3)
    }
}

@media(max-width:580px) {
    .Index__products__dl {
        padding: 0
    }

    .Index__products__header__link {
        display: none;
    }
}

.Index__products__dl__item {
    display: grid;
    grid-template-columns: 1fr max-content;
    gap: calc(var(--global-space)*6);
    align-items: center;
    --Index__products__dl__item__wrapper-order: 1
}

.Index__products__dl__item.product_2 {

    gap: calc(var(--global-space)*4);

}

.Index__products__dl__item.product_trabill {

    align-items: start;

}

@media(max-width:1050px) {
    .Index__products__dl__item {
        gap: calc(var(--global-space)*3)
    }
}

@media(max-width:900px) {
    .Index__products__dl__item {
        --Index__products__dl__item__wrapper-order: 1 !important;
        grid-template-columns: 1fr !important
    }
}

.Index__products__dl__item:nth-of-type(2n) {
    grid-template-columns: max-content 1fr;
    --Index__products__dl__item__wrapper-order: 3
}

.Index__products__dl__item__wrapper {
    order: var(--Index__products__dl__item__wrapper-order)
}

.Index__products__dl__item__h3 {
    color: #1a1a1a;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
}

@media(max-width:580px) {
    .Index__products__dl__item__h3 {
        font-size: 32px
    }
}

.Index__products__dl__item__box {
    margin-top: calc(var(--global-space)*.5)
}

.Index__products__dl__item__box__h4 {
    color: #1a1a1a;
    font-size: 24px;
    font-weight: 700
}

.Index__products__dl__item__box__small {
    display: block;
    margin-top: calc(var(--global-space)*-.25);
    color: #1a1a1a;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: .75px
}

.Index__products__dl__item__box__wrapper {
    display: grid;
    grid-template-columns: max-content 1fr;
    margin-top: calc(var(--global-space)*1);
    gap: calc(var(--global-space)*1) calc(var(--global-space)*2)
}

.Index__products__dl__item__box__p {
    color: #1a1a1a;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px
}

@media(max-width:1050px) {
    .Index__products__dl__item__box__p {
        grid-column: 1/3
    }
}

.Index__products__dl__item__box__link {
    display: grid;
    grid-template-columns: max-content max-content;
    gap: calc(var(--global-space)*.5);
    align-items: center
}

@media(max-width:1050px) {
    .Index__products__dl__item__box__link {
        grid-column: 2/3;
        grid-row: 1/2
    }
}

.Index__products__dl__item__box__link__a {
    color: #1a1a1a;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: .75px;
    text-transform: uppercase
}

.Index__products__dl__item__box__link:after {
    content: "";
    display: block;
    width: 26px;
    height: 9px;
    background-image: url(/images/Index__products__dl__item__link.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover
}

.Index__products__dl__item__drama {
    margin-top: calc(var(--global-space)*0.2)
}

@media(max-width:900px) {
    .Index__products__dl__item__drama {
        padding: 0 calc(var(--global-space)*0)
    }

    .Index__products__dl__item__drama__header {
        grid-template-columns: max-content max-content;
        grid-template-rows: auto auto;
    }

    .Index__products__dl__item__drama__header__small {
        grid-column: 1 / -1;
        width: 100%;
    }
}

@media(max-width:400px) {
    .Index__products__dl__item__drama {
        display: none
    }
}

.Index__products__dl__item__drama__header {
    display: grid;
    grid-template-columns: max-content max-content max-content;
    gap: calc(var(--global-space)*.5);
    align-items: center
}

.Index__products__dl__item__drama__header__h4 {
    color: #1a1a1a;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px
}

.Index__products__dl__item__drama__header__small {
    color: #1a1a1a;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: .75px
}

.Index__products__dl__item__drama__dl {
    display: grid;
    position: relative;
    margin-top: calc(var(--global-space)*.5);
    border: 1px solid #c6c6c6
}

.Index__products__dl__item__drama__dl>* {
    grid-area: 1/1/2/2
}

.Index__products__dl__item__drama__dl__chunk {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: calc(var(--global-space)*1);
    gap: calc(var(--global-space)*1)
}

.Index__products__dl__item__drama__dl__a {
    position: absolute;
    top: 50%;
    left: calc(100% + var(--global-space)*.25);
    padding: calc(var(--global-space)*.5);
    transform: translateY(-50%);
    transition: opacity .2s ease-in-out;
    will-change: opacity
}

.Index__products__dl__item__drama__dl__a--left {
    right: calc(100% + var(--global-space)*.25);
    left: unset;
    transform: translateY(-50%) scaleX(-1)
}

.Index__products__dl__item__drama__dl__a:before {
    content: "";
    display: block;
    width: 11px;
    height: 14px;
    background-image: url(/images/Index__products__dl__item__drama__dl__a.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover
}

.Index__products__dl__item__drama__dl__item {
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    align-content: start;
    transition: opacity .2s ease-in-out;
    opacity: 0;
    pointer-events: none;
    will-change: opacity
}

.Index__products__dl__item__drama__dl__item--active {
    opacity: 1;
    pointer-events: auto
}

.Index__products__dl__item__drama__dl__item__img {
    width: 100%
}

.Index__products__dl__item__drama__dl__item__dt {
    margin-top: calc(var(--global-space)*.5);
    margin-bottom: calc(var(--global-space)*0.4);
    color: #1a1a1a;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 1.5
}

@media(max-width:750px) {
    .Index__products__dl__item__drama__dl__item__dt {
        font-size: 13px
    }


}

.Index__products__dl__item__drama__dl__item__link {
    display: grid;
    grid-template-columns: max-content max-content;
    gap: calc(var(--global-space)*.5);
    align-items: center
}

.Index__products__dl__item__drama__dl__item__link__a {
    color: #1a1a1a;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: .75px;
    text-transform: uppercase
}

.Index__products__dl__item__drama__dl__item__link:after {
    content: "";
    display: block;
    width: 26px;
    height: 9px;
    background-image: url(/images/Index__products__dl__item__link.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover
}

.Index__products__dl__item__img {
    order: 2;
    border-radius: 20px;

}

@media(max-width:900px) {
    .Index__products__dl__item__img {
        display: none
    }

    .product_2_banner {
        display: none !important;
    }
}


/* Connect */
.Index__connect {
    position: relative;
    padding: 166px 0 157px;
    background-color: #F1F1F1;
}

.Index__connect__img_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

    max-width: 1013px;
    width: 100%;
    pointer-events: none;
    z-index: 0;
    inset: 0px auto auto auto;
}

@media(max-width:900px) {
    .Index__connect {
        margin-top: 0px
    }
}

.Index__connect__wrapper {
    display: grid;
    grid-template-columns: 1fr 450px;
    gap: calc(var(--global-space)*3);
    align-items: center;
}

@media(max-width:900px) {
    .Index__connect__wrapper {
        grid-template-columns: 1fr
    }
}

.Index__connect__h3 {
    color: #1a1a1a;
    font-size: 120px;
    font-weight: 700
}

.Index__connect__h3,
.Index__connect__h3 * {
    line-height: 1
}

@media(max-width:1050px) {
    .Index__connect__h3 {
        font-size: 90px
    }
}

@media(max-width:400px) {
    .Index__connect__h3 {
        font-size: 73px
    }
}

.Index__connect__right__small {
    display: block;
    color: #1a1a1a;
    font-size: 12px;
    font-style: italic;
    font-weight: 500;
    letter-spacing: .75px;
    text-transform: uppercase
}

.Index__connect__right__small:before {
    content: "";
    display: block;
    width: 47px;
    height: 1px;
    margin-bottom: calc(var(--global-space)*.5);
    background-color: #1a1a1a
}

.Index__connect__right__h4 {
    margin-top: calc(var(--global-space)*1);
    color: #1a1a1a;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2
}

@media(max-width:580px) {
    .Index__connect__right__h4 {
        font-size: 32px
    }
}

.Index__connect__right__p {
    margin-top: calc(var(--global-space)*1);
    color: #1a1a1a;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px
}

.Index__connect__right__buttons {
    display: grid;
    grid-template-columns: max-content;
    margin-top: calc(var(--global-space)*1)
}

/* Footer */
/* Footer.css */
.footer {
    padding: 4rem 0 2rem;

}

.footer__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.footer__grid {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .footer__grid {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: start;
    }
}

.footer__section {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.footer__section-title {
    font-size: 18px;
    color: #1a1a1aaf;
    margin: 0;
    letter-spacing: -0.01em;
}

.footer__products-wrapper {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    flex-wrap: wrap;
}

@media (max-width: 640px) {
    .footer__products-wrapper {
        flex-direction: column;
        gap: 0rem;
    }
}

.footer__discover-wrapper {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    flex-wrap: wrap;
}

@media (max-width: 640px) {
    .footer__discover-wrapper {
        flex-direction: column;
        gap: 2rem;
    }
}

.footer__nav {
    flex: 1;
}

.footer__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.footer__list-item {
    margin: 0;
    padding: 0;
}

.footer__link {
    color: #000000b3;
    text-decoration: none;
    font-size: 18px;
    transition: all 0.25s cubic-bezier(0, 0, 0.58, 1);
    display: inline-flex;
    align-items: center;
    gap: 0.25rem;
}

.footer__link:hover {
    color: #1a1a1a;
}

.footer__link--external {
    color: #312e2c;
    font-size: 22px;
    font-weight: 700;
}

.footer__link--external:hover {
    gap: 0.5rem;
}

.footer__link--external:hover .footer__external-icon {
    opacity: 1;
    transform: translateX(2px);
}

.footer__external-icon {
    width: 12px;
    height: 12px;
    opacity: 0;
    transition: all 0.25s cubic-bezier(0, 0, 0.58, 1);
    will-change: opacity, transform;
}

.footer__external-icon path {
    fill: currentColor;
}

.footer__link--social {
    color: #1a1a1a;
}

.mobile-hero {
    display: none;
}

@media (max-width: 900px) {
    .mobile-hero {
        display: block;
    }

    .desktop-hero {
        display: none;
    }
}

/* Responsive adjustments */
@media (max-width: 480px) {
    .footer {
        padding: 2rem 0 1.5rem;
    }

    .footer__section-title {
        font-size: 1rem;
    }


}

.Footer {

    --app-width: 1276px
}

.Footer__wrapper {
    display: grid;
    grid-template-columns: 1fr max-content;
    gap: calc(var(--global-space)*1);
    padding: 16px 48px;
}

.Footer:before {
    content: "";
    display: block;
    grid-column: 1/3;
    height: 1px;
    background-color: #dadada
}

.Footer__p {
    color: #312e2c;
    font-size: 16px;

    letter-spacing: -0.01em
}



.Footer__a {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: .75px
}

/* News Redesign Style */
.Index__news--redesign {
    background-color: #fff;
    background-image: radial-gradient(#ececec 1.5px, transparent 1.5px);
    background-size: 30px 30px;
    padding: 120px 0;
    position: relative;
    color: #1a1a1a;
}

.News-header__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    margin-bottom: 20px;
    align-items: flex-end;
}

.News-header__left {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.News-header__h2 {
    font-size: 50px;
    font-weight: 800;
    line-height: 1.1;
    color: #1a1a1a;
    letter-spacing: -1px;
}

.News-header__tag {
    background-color: #a3ff66;
    color: #111;
    padding: 8px 16px;
    font-size: 13px;

    width: fit-content;
    border-radius: 4px;
    text-transform: capitalize;
    font-family: auto;
}

.News-header__right p {
    font-size: 17px;
    line-height: 1.6;
    color: #555;
    max-width: 400px;
    margin-left: auto;
    text-align: right;
}

.News-list {
    border-top: 1px solid #eee;
}

.News-list__item {
    display: grid;
    grid-template-columns: 200px 1fr auto;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid #eee;
    transition: background 0.3s ease;
}

.News-list__item:hover {
    background-color: rgba(163, 255, 102, 0.03);
}

.News-list__category {
    font-size: 14px;
    font-weight: 700;
    color: #000;
}

.News-list__content {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.News-list__title {
    font-size: 24px;
    color: #1a1a1a;
    line-height: 29px;
}

.News-list__details {
    font-size: 14px;
    color: #888;
    display: flex;
    gap: 12px;
}

.News-list__btn {
    color: #000000d4;
    background: #ffffff;
    border: 1px solid #e3e3e3;
    border-radius: 50px;
    padding: 5px 24px;
    font-size: 14px;
    font-weight: 600;
    transition: all .3s;
}

.News-list__item:hover .News-list__btn {
    background-color: #111;
    color: #fff;
    border-color: #111;
}

.News-footer {
    margin-top: 40px;
}

.News-footer__link {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 16px;
    font-weight: 700;
    color: #111;
    text-transform: uppercase;
}

/* Response for News Redesign */
@media (max-width: 1024px) {
    .News-header__grid {
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .News-header__right p {
        margin-left: 0;
        text-align: left;
    }

    .News-header__h2 {
        font-size: 48px;
    }
}

@media (max-width: 768px) {
    .News-list__item {
        grid-template-columns: 1fr;
        gap: 20px;
        align-items: flex-start;
    }

    .News-list__btn {
        width: fit-content;
    }

    .Footer__wrapper {
        display: block;
    }
}


/* Fairs Route Nav Styles */
.Nav--fairs {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8;
    width: 100%;
    background-color: transparent !important;
}

.Nav--fairs .Nav__links__a {
    color: #fff !important;
}

.Nav--fairs .Nav__links__a--active:after {
    background-color: #fff !important;
}

/* News main */

.Index__news {
    background: #E7E7E7;
    padding: 100px 0 140px;
}

@media(max-width:900px) {
    .Index__news {
        margin: 120px 0
    }
}

@media(max-width:580px) {
    .Index__news {
        margin: 0px 0;
        padding: 54px 0 95px;
    }



}

.Index__news__h2 {
    color: #1a1a1a;
    font-size: 40px;
    font-weight: 700
}

@media(max-width:580px) {
    .Index__news__h2 {
        font-size: 32px
    }
}


.News {
    padding: 100px 0
}

@media(max-width:580px) {
    .News {
        margin: 0 0 calc(var(--global-space)*2)
    }
}

.News__h1 {
    color: #1a1a1a;
    font-size: 40px;
    font-weight: 700
}

.News__p {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    color: #1a1a1a;
    font-size: 12px;
    font-style: italic;
    font-weight: 500;
    letter-spacing: .75px;
    text-transform: uppercase;
    grid-gap: calc(var(--global-space)*.5);
    gap: calc(var(--global-space)*.5)
}

.News__p:before {
    content: "";
    display: block;
    width: 36px;
    height: 1px;
    background-color: #1a1a1a
}

.News__dl {
    margin-top: calc(var(--global-space)*2);
    grid-gap: calc(var(--global-space)*1)
}

.News__dl,
.News__dl__item {
    display: grid;
    gap: calc(var(--global-space)*1)
}

.News__dl__item {
    position: relative;
    grid-template-columns: calc(var(--global-space)*7) 1fr;
    grid-gap: calc(var(--global-space)*2);
    align-items: center;

}

@media screen and (max-width:768px) {
    .News__dl__item {

        grid-template-columns: calc(var(--global-space)*4) 1fr;
        grid-gap: calc(var(--global-space)*1);
        align-items: start;

    }

    .Footer__wrapper {
        padding: 0 16px;
    }
}


.News__dl__item:hover * {
    text-decoration: underline
}

.News__dl__item__a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.News__dl__item__dt {
    font-weight: 500
}

.News__dl__item__dd,
.News__dl__item__dt {
    color: #1a1a1a;
    font-size: 16px;
    letter-spacing: 1px
}

.News__dl__item__dd {
    font-weight: 600
}

.News__dl__item__dd br {
    display: none
}

.NewsShow {
    padding: 100px 0
}

.NewsShow__h1 {
    color: #1a1a1a;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2
}

.NewsShow__time {
    display: block;
    margin-top: calc(var(--global-space)*.75);
    color: #1a1a1a;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: .75px
}

.NewsShow__markdown {
    display: grid;
    color: #1a1a1a;
    font-size: 16px;
    grid-gap: calc(var(--global-space)*1);
    gap: calc(var(--global-space)*1);
    margin-top: calc(var(--global-space)*1)
}

.NewsShow__markdown>h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.5
}

.NewsShow__markdown>h2+h2 {
    margin-top: calc(var(--global-space)*-.5)
}

.NewsShow__markdown>h3 {
    font-size: 18px;
    font-weight: 700
}

.NewsShow__markdown>ol,
.NewsShow__markdown>ul {
    display: grid;
    padding-left: calc(var(--global-space)*1);
    list-style-type: disc;
    grid-gap: calc(var(--global-space)*.5);
    gap: calc(var(--global-space)*.5)
}

.NewsShow__markdown>ol>li,
.NewsShow__markdown>ul>li {
    padding-left: calc(var(--global-space)*.25)
}

.NewsShow__markdown>ol>li>ul,
.NewsShow__markdown>ul>li>ul {
    display: grid;
    margin-top: calc(var(--global-space)*.25);
    padding-left: calc(var(--global-space)*.75);
    list-style-type: circle;
    grid-gap: calc(var(--global-space)*.25);
    gap: calc(var(--global-space)*.25)
}

.NewsShow__markdown>ol {
    list-style-type: decimal
}

.NewsShow__markdown>blockquote {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-gap: calc(var(--global-space)*1);
    gap: calc(var(--global-space)*1)
}

.NewsShow__markdown>blockquote:before {
    content: "";
    display: block;
    width: 2px;
    background-color: #dadada
}

.NewsShow__markdown a {
    text-decoration: underline
}

/* ModernHero Redesign */
.ModernHero {
    background-color: #fff;
    padding: 120px 0 80px;
    min-height: 55vh;
    display: flex;
    flex-direction: column;

}

.ModernHero__content {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.ModernHero__topText {
    font-size: 24px;
    font-weight: 500;
    color: #1a1a1a;
    margin: 0;
}

.ModernHero__titleWrapper {
    position: relative;
    display: inline-block;
}

.ModernHero__title {
    font-family: var(--font-outfit), sans-serif;
    color: #000;
    text-transform: uppercase;
    letter-spacing: -1px;
    margin: 0;
    font-size: 58px;
    font-weight: 800;
    line-height: 1.1;
}


@keyframes badgeFloat {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(1px, 39px)
    }

    100% {
        transform: translate(0, 0);
    }
}

.ModernHero__badge {
    color: #000;
    z-index: 5;
    border-radius: 2px;
    justify-content: center;
    align-items: center;
    padding: 1px 7px;
    font-size: 12px;
    animation: 6s ease-in-out infinite badgeFloat;
    display: flex;
    position: absolute;
    box-shadow: 0 4px 15px rgba(0, 0, 0, .1);
}

.ModernHero__badge--design {
    background-color: #8fff45;
    top: 55%;
    left: -20px;
    animation-delay: -1s;
}

.ModernHero__badge--software {
    background-color: #34b4eb;
    top: 40%;
    right: 40px;
    animation-delay: -3s;
}

.ModernHero__badge--research {
    background-color: #8fff45;
    top: 40%;
    right: -80px;
    animation-delay: -5s;
}

@media (max-width: 600px) {
    .ModernHero__badge--design {
        left: -5px;
        top: 45%;
    }

    .ModernHero__badge--software {
        right: 40px;
    }

    .ModernHero__badge--research {
        right: -20px;
    }
}

.ModernHero__description1 {
    font-size: 22px;
    line-height: 1.4;
    color: #1a1a1a;
    max-width: 500px;
    margin-left: auto;
    text-align: left;
    font-weight: 500;
}

@media (min-width: 900px) {
    .ModernHero__description1 {
        max-width: 450px;
        transform: translateX(-50px);
    }
}

.ModernHero__description2 {
    font-size: clamp(28px, 5vw, 48px);
    line-height: 1.1;
    font-weight: 600;
    color: #1a1a1a;
    max-width: 1000px;
    margin-top: 40px;
}

.ModernHero__icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 0.8em;
    height: 0.8em;
    vertical-align: middle;
    margin: 0 4px;
    border-radius: 2px;
}

.ModernHero__icon--blue {
    background-color: #34b4eb;
    color: #fff;
    font-size: 0.7em;
}

.ModernHero__icon--green {
    background-color: #8FFF45;
    color: #000;
    font-size: 0.7em;
}

.ModernHero__icon--img {
    overflow: hidden;
    width: 1.2em;
    height: 0.8em;
}

.ModernHero__icon--img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ModernHero__link {
    font-size: clamp(40px, 8vw, 75px);
    font-weight: 600;
    color: #000;
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 40px;
    transition: transform 0.3s ease;
}

.ModernHero__link:hover {
    transform: translateX(10px);
    text-decoration: none !important;
}

.ModernHero__arrow {
    color: #8FFF45;
}

@media (max-width: 600px) {
    .ModernHero {
        padding: 38px 0;
        position: relative;
    }

    .ModernHero__topText {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .ModernHero__description1 {
        font-size: 18px;
        margin-left: 0;
        max-width: 100%;
    }

    .ModernHero__description2 {
        font-size: 32px;
    }

    .ModernHero__link {
        font-size: 48px;
    }

    .ModernHero__badges {
        bottom: 5%;
    }
}